*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#items-wrapper{
    width: 60vw;
}
#items{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}
.item{
    flex: none;
    width: 50%;
    height: 400px;
    scroll-snap-align: start;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}